body {
  background: url('../img/bg.jpg') no-repeat;
  background-size: cover;
}

.title	{
	text-transform: uppercase;
}

.content {
	margin-top: 7rem;
}

.article {
	background: #e6e6e6;
}

img.logo {
	width: 15%;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.well-ncc {
	background: rgba(245, 245, 245, 0.8);
}

.listing {
	background: #e6e6e6;
}